  body {
    margin: 0;
    
    
}

.navigation{ 
	width: 100%;
    height: 150px;
    background-color:#202946;
    position:static;
    
    
    
}
.navigation .logo{
    
    height: 130px;
    background: url(fotot/headerlogo.png) left/cover no-repeat;
    display: block;
    width: 130px;
    font-size: 80px;
    margin-left: 80px;
    padding-top: 10px;
   

}
.navigation .nav{
    float: right;
    margin-top: -80px;
    padding-right: 20px;
    margin-right: 70px;

}


.nav a{
    text-decoration: none;
    padding-right: 20px;
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
   
}

.nav a:hover{
    color: #e86013;
    
}
  
  
  

    .header-content{
      padding:28px 16px 8px;
      text-align:center;
      position:relative;
      z-index:2;
    }

    .header-content h1{
      font-family: 'Courier New', Courier, monospace;
      margin:0;
      font-size:clamp(20px,3.5vw,34px);
      color:#202946;
      text-transform:uppercase;
      background:linear-gradient(90deg, white, #e86013);
      display:inline-block;
      padding:10px 18px;
      border-radius:999px;
    }

    .image-background {
      background: url(fotot/about\ us.png) center/cover no-repeat;
      width:100%;
    }

    main{
      
      display:flex;
      align-items:center;
      justify-content:center;
      padding:10px 16px;
      position:relative;
      z-index:2;
    }

    .card{
      width:100%;
      max-width:700px;
      background:#202946;
      border-radius:12px;
      padding:36px;
      text-align:center;
      backdrop-filter: blur(6px);
      border: 5px #e86013  solid;
      
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
    }

    .card p{
      margin:0 auto;
      line-height:1.6;
      font-size:clamp(16px,1.8vw,18px);
      color:white;
      max-width:74ch;
      font-family: 'Courier New', Courier, monospace;
    }

    .sep{
      height:6px;
      width:64px;
      background:linear-gradient(90deg,white,#e86013 );
      margin:18px auto 26px;
      border-radius:4px;
      
    }









    

@media (max-width: 800px) {
    .navigation{
	width: 100%;
    height: 120px;
    background-color:#202946;
    
    }
    

.navigation .logo{
    
    height: 100px;
    background: url(fotot/headerlogo.png) left/cover no-repeat;
    display: block;
    width: 100px;
    margin-left: 50px;
    padding-top: 15px;
   

}
.navigation .nav{
    float: right;
    margin-top: -70px;

    margin-right: 20px;

}


.nav a{
    text-decoration: none;
    padding-right: 10px;
    font-size: 20px;
    color: white;
    
   
}




}



       @media (max-width: 650px) {
    .navigation{
	width: 100%;
    height: 100px;
    background-color:#202946;
    
    }  
    

.navigation .logo{
    
    height: 80px;
    background: url(fotot/headerlogo.png) left/cover no-repeat;
    display: block;
    width: 80px;
    
    margin-left: 50px;
    padding-top: 15px;
   

}
.navigation .nav{
    float: right;
    margin-top: -60px;

    margin-right: 20px;

}


.nav a{
    text-decoration: none;
    padding-right: 10px;
    font-size: 17px;
    color: white;
    
   
}

}


















     @media (max-width: 500px) {
    .navigation{
	width: 100%;
    height: 70px;
    background-color:#202946;
    
    
    
}
.navigation .logo{
    
    height: 50px;
    background: url(fotot/headerlogo.png) left/cover no-repeat;
    display: block;
    width: 50px;
    
    margin-left: 15px;
    padding-top: 15px;
   

}
.navigation .nav{
    float: right;
    margin-top: -45px;

    margin-right: 10px;

}


.nav a{
    text-decoration: none;
    padding-right: 10px;
    font-size: 13px;
    color: white;
    
   
}

     }

