body{
    margin: 0;
}
.navigation{
	width: 100%;
    height: 150px;
    background-color:#202946;
    position:static;
    
    
    
}
.navigation .logo{
    
    height: 130px;
    background: url(fotot//headerlogo.png) left/cover no-repeat;
    display: block;
    width: 130px;
    font-size: 80px;
    margin-left: 80px;
    padding-top: 10px;
   

}
.navigation .nav{
    float: right;
    margin-top: -80px;
    padding-right: 20px;
    margin-right: 70px;

}


.nav a{
    text-decoration: none;
    padding-right: 20px;
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
   
}

.nav a:hover{
    color: #e86013;
    
}





.LogInForm{
    text-align: center;
    flex-wrap: wrap;
    padding: 60px 0;

}

.LogInForm h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #e86013;
}



 section {
    background: url('fotot/login_regjister_bcg.jpg') center/cover no-repeat;
backdrop-filter: blur(8px);
      height: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .login-box {
      background: rgba(255, 255, 255, 0.6);
      padding: 40px;
      width: 100%;
      width: 380px;
      border-radius: 15px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.12);
    }

    .login-box h2 {
      text-align: center;
      margin-bottom: 25px;
      font-size: 26px;
      font-family: 'Courier New', Courier, monospace;
    }

    .login-box input {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 15px;
    }

    .login-box input[type="submit"] {
      background: #e86013;
      color: white;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      font-size: 16px;
    }

    .login-box input[type="submit"]:hover {
      background: #202946;
    }

    






.footer{
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 50px;
  background-color: #202946;
  padding-top: 40px;
  padding-bottom: 40px;

}


.short-about{
    height: fit-content;
    max-width: 800px;
    min-width: 350px;
} 

.short-about h2{
    font-size: 40px;
    color: #e86013;
}
.short-about p{
     font-size: 25px;
     color: white;
}

.follow-us{
    height: fit-content;
    width: fit-content;
    display: block;
}
.follow-us h2{
    font-size: 40px;
    color: #e86013;
}

.link img{
   width: 70px;
  height: 70px;
  padding-right: 20px;
  border-radius: 50%;
  object-fit: contain;  
  
}


.comment{
    height: fit-content;
    width: 350px;
}

.comment .email-input{
    width: 100%;
    float: right;
    height: 50px;
    border: 5px;
    margin-bottom: 10px;
}

.comment .comment-input{
    float: right;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.comment .button{
    float: right;
    background-color: #e86013;
    color: #202946;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.3s ease;
}

.button:hover{
    background-color: #202946;
    color: #e86013;
    transform: translateY(-7px);
}


.copyright{
    background-color: #202946;
    color: #e86013;
    font-size: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    margin-top: -30px;
}








@media (max-width: 800px) {
    .navigation{
	width: 100%;
    height: 120px;
    background-color:#202946;
    
    
    
}
.navigation .logo{
    
    height: 100px;
    background: url(fotot/headerlogo.png) left/cover no-repeat;
    display: block;
    width: 100px;
    margin-left: 50px;
    padding-top: 15px;
   

}
.navigation .nav{
    float: right;
    margin-top: -70px;

    margin-right: 20px;

}


.nav a{
    text-decoration: none;
    padding-right: 10px;
    font-size: 20px;
    color: white;
    
   
}


section{
    background: url(fotot/login_regjister_bcg.jpg) center/cover no-repeat;
    height: 500px;
   
}

.txtS1{
    
    
    background-color: #20294691;
    display: block;
    width: 300px;
    
    height: 100px;
    padding-top: 3px;
    padding-left: 0px;
    border-radius: 40px;
}

.p1{
   font-size: 20px;
   
   color: white;

}
.p2{

    font-size: 15px;
    
    color: #e86013;
}

}




       @media (max-width: 650px) {
    .navigation{
	width: 100%;
    height: 100px;
    background-color:#202946;
    
    }  
    

.navigation .logo{
    
    height: 80px;
    background: url(fotot/headerlogo.png) left/cover no-repeat;
    display: block;
    width: 80px;
    
    margin-left: 50px;
    padding-top: 15px;
   

}
.navigation .nav{
    float: right;
    margin-top: -60px;

    margin-right: 20px;

}


.nav a{
    text-decoration: none;
    padding-right: 10px;
    font-size: 17px;
    color: white;
    
   
}



.txtS1{
    
    
    background-color: #20294691;
    display: block;
    width: 200px;
    
    height: 90px;
    padding-top: 10px;
    padding-left: 0px;
    border-radius: 40px;
}

.p1{
   font-size: 16px;
   
   color: white;

}
.p2{

    font-size: 10px;
    line-height: 4px;
    color: #e86013;
}
}

















     @media (max-width: 500px) {
    .navigation{
	width: 100%;
    height: 70px;
    background-color:#202946;
    
    
    
}
.navigation .logo{
    
    height: 50px;
    background: url(fotot/headerlogo.png) left/cover no-repeat;
    display: block;
    width: 50px;
    
    margin-left: 15px;
    padding-top: 15px;
   

}
.navigation .nav{
    float: right;
    margin-top: -45px;

    margin-right: 10px;

}


.nav a{
    text-decoration: none;
    padding-right: 10px;
    font-size: 13px;
    color: white;
    
   
}


.txtS1{
    
    
    background-color: #20294691;
    display: block;
    width: 200px;
    margin-top: -50px;
    margin-left: 10px;
    height: 90px;
    padding-top: 10px;
    padding-left: 0px;
    border-radius: 40px;
}

.p1{
   font-size: 16px;
   
   color: white;

}
.p2{

    font-size: 10px;
    line-height: 4px;
    color: #e86013;
}
 .login-box {
        padding: 25px;
        width: 300px;
        margin: 5px 0;
        
      }

      .login-box h2 {
        font-size: 22px;
      }
      .login-box input{
        width: 90%;
      }
.error {
    color: red;
    font-size: 13px;
    margin-top: -8px;
    display: block;
}




     }





