
.navbar{
    background-color: darkblue;
    text-align: center;
    padding: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.txt{
    margin-right: 20px;
}

.tabela{
    background-color: darkblue;
    width: 800px;
    margin: 100px auto;
    border-radius: 20px;
    padding: 30px 0;
}

.tabela div{
    width: 500px;
    margin: auto;
    padding-top: 20px;
}

.ele input,
.ele select{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.foto{
    text-align: center;
    margin-bottom: 30px;
}


.checkbox{
    color: white;
    width: 500px;
    margin: auto;
}

.shkrimet{
    color: white;
}


body {
    background-image: url(backgroundlogin.jpg);
    background-size: cover;
    background-position: center;
}


@media (max-width: 768px){
    
    .tabela{
        width: 90%;
        margin-top: 30px;
        padding: 20px 0;
    }

    .tabela div{
        width: 90%;
        padding: 10px 0;
    }

    .ele input,
    .ele select{
        width: 100%;
    }

    .checkbox{
        width: 90%;
        font-size: 14px;
    }

    .foto img{
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 480px){
    .navbar{
        padding: 10px;
    }

    .txt{
        margin-right: 10px;
        font-size: 14px;
    }

    .checkbox{
        font-size: 12px;
    }
}
